Repository root-mirror/root, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Axel-Naumann, @etejedor, @pcanal, @couet, @bellenot, @agheata, @lmoneta, @vgvassilev, @gganis, @hageboeck, @ashlaban, @stwunsch, @dpiparo, @bluehood, @omazapa, @linev, @TimurP, @osschar, @amadio

.github/CODEOWNERS:

# This file annotates code ownership within ROOT.
# It's not meant to be a strict - or comprehensive - file, but
# helpful guidance on who to coordinate with for various areas.
# This should also help provide suggested reviewers for PRs.

# For more information, see:
# 
#   - https://github.com/blog/2392-introducing-code-owners

# Coarse-grained ownership
* @Axel-Naumann
/bindings/ @etejedor
/core/ @Axel-Naumann
/core/ @pcanal
/documentation/ @couet
/fonts/ @bellenot
/geom/ @agheata
/graf2d/ @couet
/graf3d/ @couet
/gui/ @bellenot
/hist/ @lmoneta
/html/ @Axel-Naumann
/icons/ @bellenot
/interpreter/ @Axel-Naumann
/interpreter/llvm/ @vgvassilev
/io/ @pcanal
/main/ @pcanal
/math/ @lmoneta
/misc/ @Axel-Naumann
/montecarlo/ @Axel-Naumann
/net/ @gganis
/proof/ @gganis
/roofit/ @lmoneta @hageboeck
/rootx/ @Axel-Naumann
/sql/ @pcanal
/tmva/ @lmoneta @ashlaban @stwunsch
/tree/ @pcanal
/tutorials/ @couet
/tree/dataframe @dpiparo @bluehood

# Projects that span over several code modules:
/bindings/r/ @omazapa
/core/base/ @pcanal
/core/cont/ @pcanal
/core/imt/ @dpiparo
/core/lz4/ @pcanal
/core/lzma/ @pcanal
/core/multiproc/ @gganis
/core/thread/ @pcanal
/etc/http/ @linev
/etc/eve7/ @linev
/graf2d/cocoa/ @TimurP
/graf3d/eve/ @osschar
/graf3d/eve7/ @osschar
/gui/fitpanelv7/ @linev
/gui/cefdisplay/ @linev
/gui/qt5webdisplay/ @linev
/gui/webdisplay/ @linev
/gui/webgui6/ @linev
/net/http/ @linev

/cmake/ @amadio
*.cmake @amadio
*/CMakeLists.txt @amadio
CMakeLists.txt @amadio

added new functions
  roofit/roofit/CMakeLists.txt
  roofit/roofit/inc/LinkDef1.h
  roofit/roofit/inc/RooExpPoly.h
  roofit/roofit/inc/RooPower.h
  roofit/roofit/src/RooExpPoly.cxx
  roofit/roofit/src/RooPower.cxx
Owners: @amadio, @lmoneta, @hageboeck

various bugfixes
  roofit/roofit/inc/RooExpPoly.h
  roofit/roofit/src/RooExpPoly.cxx
  roofit/roofit/src/RooPower.cxx
Owners: @lmoneta, @hageboeck

implemented suggestions, added analytical integral
  roofit/roofit/inc/RooPower.h
  roofit/roofit/src/RooPower.cxx
Owners: @lmoneta, @hageboeck

implemented suggestions
  roofit/roofit/src/RooExpPoly.cxx
Owners: @lmoneta, @hageboeck

added override keyword
  roofit/roofit/inc/RooPower.h
Owners: @lmoneta, @hageboeck

added analytical integral for lowest orders
  roofit/roofit/inc/RooExpPoly.h
  roofit/roofit/src/RooExpPoly.cxx
Owners: @lmoneta, @hageboeck

added formula to make a formula expression
  roofit/roofit/inc/RooPower.h
  roofit/roofit/src/RooPower.cxx
Owners: @lmoneta, @hageboeck

improved analytical integral handling, added formula expression getter
  roofit/roofit/inc/RooExpPoly.h
  roofit/roofit/src/RooExpPoly.cxx
Owners: @lmoneta, @hageboeck

improved interface somewhat
  roofit/roofit/inc/RooExpPoly.h
  roofit/roofit/inc/RooPower.h
  roofit/roofit/src/RooExpPoly.cxx
  roofit/roofit/src/RooPower.cxx
Owners: @lmoneta, @hageboeck

Formatting
  hist/hist/src/TH2.cxx
Owners: @lmoneta

Added googletest testing compression settings of TFile with TTree
  tree/tree/test/CMakeLists.txt
  tree/tree/test/TTreeCompression.cxx
Owners: @amadio, @pcanal

Implement variable rebinning 2-D histogram classes (ROOT-5224) Implemented for TProfile2D as well
  hist/hist/inc/TH2.h
  hist/hist/inc/TProfile2D.h
  hist/hist/src/TH2.cxx
  hist/hist/src/TProfile2D.cxx
Owners: @lmoneta

Format comments
  hist/hist/src/TH2.cxx
  hist/hist/src/TProfile2D.cxx
Owners: @lmoneta

Tree:Fix ROOT-10829. Avoid using deleted object.
  tree/tree/src/TTree.cxx
Owners: @pcanal

[RF] Suppress failregex checking in RooFit test.
  roofit/roofitcore/test/CMakeLists.txt
Owners: @amadio

[IMT] Enable task arena test.
  core/imt/test/CMakeLists.txt
Owners: @amadio

[CMake] Add automatic failregex to ROOT_ADD_GTEST.
  cmake/modules/RootMacros.cmake
Owners: @amadio

[Meta] Disable diagnostic checking in testStatusBitChecker.
  core/meta/test/CMakeLists.txt
Owners: @amadio

[Tree] Remove failregex from two tests in tree/.
  tree/tree/test/CMakeLists.txt
  tree/treeplayer/test/CMakeLists.txt
Owners: @amadio

Add googletest testing compression settings of TFile with TTree
  tree/tree/test/CMakeLists.txt
  tree/tree/test/TTreeCompression.cxx
Owners: @amadio, @pcanal

[RF][Docs] Add plots of RooPower and RooExpPoly to documentation.
  documentation/doxygen/images/RooExpPoly.png
  documentation/doxygen/images/RooPower.png
  roofit/roofit/src/RooExpPoly.cxx
  roofit/roofit/src/RooPower.cxx
Owners: @couet, @lmoneta, @hageboeck

[RF] Fix override warnings in RooPower / RooExpPoly.
  roofit/roofit/inc/RooExpPoly.h
  roofit/roofit/inc/RooPower.h
Owners: @lmoneta, @hageboeck

debugging & development
  roofit/roofit/inc/RooExpPoly.h
  roofit/roofit/src/RooExpPoly.cxx
  roofit/roofit/src/RooPower.cxx
Owners: @lmoneta, @hageboeck

[RF] Fix override warning in RooExpPoly.
  roofit/roofit/inc/RooExpPoly.h
Owners: @lmoneta, @hageboeck

[RF] Fix override warning in RooPower.
  roofit/roofit/inc/RooPower.h
Owners: @lmoneta, @hageboeck

Update roofit/roofit/src/RooExpPoly.cxx
  roofit/roofit/src/RooExpPoly.cxx
Owners: @lmoneta, @hageboeck

Add CMAKE_CXX_STANDARD to the printed output
  CMakeLists.txt
Owners: @amadio

Add to root-config possibility to print CMAKE_CXX_STANDARD with --cxxstandard
  cmake/modules/RootConfiguration.cmake
  config/root-config.in
Owners: @amadio, @Axel-Naumann

Add CXX_STANDARD property to all ROOT target properties
  cmake/modules/RootMacros.cmake
Owners: @amadio

Remove -std=c++{cxxstandard} flag from CMAKE_CXX_FLAGS
  cmake/modules/CheckCompiler.cmake
Owners: @amadio

Remove outdated lines, now we print all info at the end of configuration
  cmake/modules/CheckCompiler.cmake
Owners: @amadio

Expose CXX_STANDARD to gtest targets as well
  cmake/modules/RootMacros.cmake
Owners: @amadio

Add CMAKE_CXX_STANDARD to RootUseFile.cmake
  cmake/scripts/RootUseFile.cmake.in
Owners: @amadio

Add C++ standard flag explicitly needed by ACLIC while in ROOT we are using everywhere C++ standard via CMake features that are requested to build target
  cmake/modules/RootConfiguration.cmake
Owners: @amadio

[core] Use ExpandPathName(TString&) to prevent mem leaks (ROOT-7280):
  core/base/src/TApplication.cxx
Owners: @pcanal

[io] Prevent potential leaks from ExpandPathName (ROOT-7280):
  io/io/src/TFile.cxx
Owners: @pcanal

[Notebook] Smarten up error handling in converttonotebook.py
  documentation/doxygen/converttonotebook.py
Owners: @couet

[Doxygen] Use optimisations for image creation macros.
  documentation/doxygen/filter.cxx
  documentation/doxygen/makeimage.C
Owners: @couet

[Doxygen] Use -O2 for doxygen filter program.
  documentation/doxygen/Makefile
Owners: @couet

[Notebook] Update converttonotebook.py
  documentation/doxygen/converttonotebook.py
Owners: @couet
